.products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products-list h1 {
    margin-top: 20px;
  }

  .products-list ul {
    list-style: none;
    margin: 20px;
    padding: 0;
  }

  .products-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 700px;
  }

  .products-list p{
    padding: 10px;
  }

  .products-list img{
    padding: 10px;
  }
  
  
  .products-list li button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }

  .products-list li button:hover {
    background-color: #3e8e41;
  }

  .products-list .search-input {
    margin: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
  }